{% extends "blank.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h2 class="page-header">Registration <small>Successfully registered!</small></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <center>Thank you for your contribution! You've successfully registered for this year's convention!<br />
            We look forward to seeing you!</center>
        </div>
    </div>
{% endblock %}
